.selected-language {
    margin-top: 0 !important;

    #mui-component-select-language {
        padding: 0 !important;
        color: #aeb9e1 !important;
        font-size: 15px;

        img {
            display: inline-block !important;
            margin-bottom: 4px;
        }
    }

    .MuiSelect-icon {
        display: none;
        color: #aeb9e1 !important;
    }
}

.selected-language-login {
    margin-top: 0 !important;

    #mui-component-select-language {
        padding: 0 24px 0 0 !important;
        color: #333 !important;
        font-size: 15px;

        img {
            display: inline-block !important;
            margin-bottom: 4px;
        }
        span {
            color: #aeb9e1;
        }
    }

    .MuiSelect-icon {
        color: #aeb9e1 !important;
    }
}

.MuiInput-underline {
    border-bottom: none !important;

    &::before {
        border-bottom: none !important;
    }

    &:hover {
        border-bottom: none !important;
    }

    &::after {
        border-bottom: none !important;
    }
}

.body-background {
    background: #f6f6f6;
    height: calc(100vh - 118px);
}
@media only screen and (min-width: 641px) {
    .cmp-inside-layout {
        margin-left: 250px !important;
    }
}

#menu-language{
    .MuiPopover-paper{
        background: #101935;
        color: #aeb9e1;
        border-right: 0.6px solid #37446b;
    }
    
}