.search-input input,
.generic-input {
    min-height: 42px;
    color: #fff;
    background-color: #101935;
    border: .6px solid #343b4f;
    border-top-color: rgb(52, 59, 79);
    border-right-color: rgb(52, 59, 79);
    border-bottom-color: rgb(52, 59, 79);
    border-left-color: rgb(52, 59, 79);
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0;
    padding: 14px;
    padding-left: 14px;
    font-size: 12px;
    line-height: 1.167em;
    transition: box-shadow .3s, color .3s, border-color .3s;
    box-shadow: 0 2px 4px rgba(1, 5, 17, .2);
}

.search-input {
    .bg-default-100 {
        background-color: #101935 !important;
        border-radius: 4px !important;
        border: .6px solid #343b4f;
    }

    input {
        border: none;
        box-shadow: none;
        min-height: auto;
    }

}

.search-input.group[data-focus="true"] .group-data-\[focus\=true\]\:bg-default-100 {
    background-color: #101935 !important;
}

.generic-input:hover {
    border-color: #7e89ac;
    box-shadow: 0 2px 12px rgba(20, 20, 43, .1);
}

.generic-input:disabled {
    color: #aeb9e1;
}

.generic-input:focus {
    outline: none;
}

.input-error {
    border-color: #ca6969;
}

input[type="date"],
input[type="daterange"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.input-container {
    position: relative;
    font-size: 14px;
}

.error-text {
    color: #ca6969;
    font-size: 13px;
    line-height: 1;
    padding: 4px 0 8px;
}

.input-with-right-icon {
    padding-right: 50px;
}

.input-with-left-icon {
    padding-left: 37px;
}

.without-error {
    height: 25px;
}

.container-eyes {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 50px;
}

.container-icon-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 37px;
}

.icon-left {
    height: 20px;
}

.eye-icon {
    cursor: pointer;
    height: 18px;
}

.label-up {
    display: none;

    &__required {
        color: #ca6969;
        font-size: 10px;
    }
}

input:focus+.label-up {
    display: inline-block;
    position: absolute;
    background: white;
    top: -7px;
    left: 10px;
    color: #aaa;
    font-size: 10px;
    padding: 0 4px;
}

textarea:focus+.label-up {
    display: inline-block;
    position: absolute;
    background: white;
    top: -7px;
    left: 10px;
    color: #aaa;
    font-size: 10px;
    padding: 0 4px;
}

select {
    background-color: #101935 !important;
    padding: 14px 10px !important;
    border-radius: 4px !important;
    border: .6px solid #343b4f;
}

.select-filter{
    color: #aeb9e1;
    /* div{
        color: #333;
        border-color: #343b4f !important;
        padding-top: 2.5px;
        padding-bottom: 3px;
    }
    #react-select-3-listbox {
        background-color: #1c2c4c !important;
        border-color: solid 1px #ccc !important;
        color: #aeb9e1 !important;
        
        div {
            color: #aeb9e1 !important;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }
    #react-select-3-placeholder {
        color: #aeb9e1 !important;
    } */
}

.input-table {
    border-radius: 2px !important;
}