.generic-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.generic-input:disabled {
    color: #757575;
}

.generic-input:focus {
    outline: none;
}
  
.input-error {
    border-color: #560c0c;
}
  
input[type="date"],
input[type="daterange"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}
  
.input-container {
    position: relative;
    font-size: 14px;
}
  
.error-text {
    color: #560c0c;
    font-size: 13px;
    line-height: 1;
    padding: 4px 0 8px;
}

.input-with-right-icon {
    padding-right: 50px;
}

.input-with-left-icon {
    padding-left: 37px;
}

.without-error {
    height: 25px;
}

.container-eyes {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 50px;
}

.container-icon-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 37px;
}

.icon-left {
    height: 20px;
}

.eye-icon {
    cursor: pointer;
    height: 18px;
}

.label-up {
    display: none;

    &__required {
        color: #560c0c;
        font-size: 10px;
    }
}

input:focus + .label-up {
    display: inline-block;
    position: absolute;
    background: white;
    top: -7px;
    left: 10px;
    color: #aaa;
    font-size: 10px;
    padding: 0 4px;
}

textarea:focus + .label-up {
    display: inline-block;
    position: absolute;
    background: white;
    top: -7px;
    left: 10px;
    color: #aaa;
    font-size: 10px;
    padding: 0 4px;
}
  