.generic-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}
  
.input-error {
    border-color: #ff0000;
}
  
input[type="date"],
input[type="daterange"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}
  
.input-container {
    position: relative;
    font-size: 14px;
}
  
.error-text {
    color: #ff0000;
    font-size: 13px;
    line-height: 1;
    padding: 4px 0 8px;
}

.input-with-left-icon {
    padding-right: 50px;
}

.without-error {
    height: 25px;
}

.container-eyes {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 50px;
}

.eye-icon {
    cursor: pointer;
    height: 18px;
}
  