.storage-plan-data {
    width: calc(100vw - 365px);
    overflow-x: auto;
    scrollbar-width: thin;
    display: flex;
    justify-content: flex-start;
    flex-wrap: initial;
    font-size: 12px;

    &__table {
        display: grid;
        margin-right: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 5px;
    }

    &__header-pl {
        display: grid;
        grid-template-columns: 1fr 90px;
        column-gap: 5px;
    }
}

.do-not-show-dropdown-item {
    display: none !important;
}

.info-packing-list {
    width: calc(100vw - 365px);
    overflow-x: auto;
    scrollbar-width: thin;
    display: flex;
    justify-content: flex-start;
    flex-wrap: initial;
    font-size: 12px;

    &__table {
        display: grid;
        margin-right: 16px;
        grid-template-columns: 30px 200px 200px 140px 140px 140px 140px 140px 140px 140px 140px;
        column-gap: 5px;
    }
}

.tab-selected {
    padding: 5px 10px;
    color: white;
    border-bottom: solid 2px white;
    user-select: none;
    font-size: 13px;
}

.tag-default {
    padding: 5px 10px;
    color: #aeb9e1;
    border-bottom: solid 2px transparent;
    user-select: none;
    font-size: 13px;
    cursor: pointer;
}

.spc div {
    width: auto !important;
    overflow-wrap: break-word;
}

@media only screen and (max-width: 1250px) {
    .storage-plan-data {
        width: calc(100vw - 64px);

        &__table {
            grid-template-columns: 140px 140px 140px 140px 140px 140px 140px 140px;
        }
    }

    .info-packing-list {
        width: calc(100vw - 64px);
    }
}

@media only screen and (max-width: 500px) {
    .storage-plan-data__header-pl {
        grid-template-columns: 1fr;
    }
    .show-sp-desktop {
        display: none;
    }
}

@media only screen and (min-width: 501px) {
    .show-sp-mobile {
        display: none;
    }
}