@tailwind base;
@tailwind components;
@tailwind utilities;

.black-label {
  color: #333;
}

.header {
  min-height: 60px;
  background: linear-gradient(to right, #ff7811, #f3412f);
  padding-left: 25px;
  padding-right: 25px;
}

.container-header {
  display: grid;
  grid-template-columns: 140px 1fr 260px;
  column-gap: 10px;

  &__image-content {
    height: 44px;
    width: 100%;
  }

  &__img {
    height: 43px;
    cursor: pointer;
  }

  &__icon {
    height: 28px;
  }

  &__menu-user {
    margin-left: 10px;
    cursor: pointer;
    position: relative;
  }

  &__username {
    display: inline-block;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 4px;
    font-size: 15px;
  }
}

.section-right {
  padding: 16px 0;
}

.section-left {
  padding: 8px 0;
}

.footer {
  background: linear-gradient(to right, #ff7811, #f3412f);
  width: 100vw;
  font-size: 15px;
}

.custom-background {
  //background-image: url('../src/assets/icons/background-login.jpg');
  //background-size: cover;
  //background-position: center;
  height: 100vh;
  background: white;
}

.scrollable-hidden {
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* IE 10+ */
  ​ &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.elements-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elements-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.elements-end-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.elements-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.elements-center-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.elements-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.elements-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.elements-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.wrapper {
  width: 100%;
  margin-top: 20px;
}

.confirmation_container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .confirmation_backdrop {
    position: absolute;
    background-color: #3333335d;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .confirmation_card {
    z-index: 1000;
    background: #fff;
    padding: 20px;
    border-radius: 20px;

    .confirmation_card_header {
      font-weight: 500;
      font-size: 16px;
    }

    .confirmation_card_body {
      font-size: 14px;
    }

    .confirmation_card_actions {
      margin-top: 10px;
      display: flex;
    }
  }
}

.general-gradient {
  background: linear-gradient(to right, #ff7811, #f3412f);
}

.card_section {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.dashboard_card {
  padding: 15px;
  width: 19%;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ff7811;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .04), 0 1px 1px 0 rgba(213, 211, 211, .06), 0 1px 35px 0 rgba(0, 0, 0, .12) !important;

  .dashboard_card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ff7811;
    font-size: 17px;
  }

  .dashboard_card_body {
    font-size: 40px;
    font-weight: 500;
    color: #ff7811;
    text-align: center;
  }
}

@media only screen and (max-width: 650px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .desktop-mode {
    display: none !important;
  }

  .container-header__username {
    max-width: 100px;
  }

  #mui-component-select-language span {
    display: none !important;
  }
}

@media only screen and (max-width: 440px) {
  .container-header__username {
    max-width: 85px;
  }
}

@media only screen and (max-width: 420px) {
  .container-header__username {
    max-width: 75px;
  }
}

@media only screen and (max-width: 405px) {
  .container-header__username {
    max-width: 70px;
  }
}

@media only screen and (max-width: 400px) {
  .container-header__username {
    max-width: 63px;
  }
}

@media only screen and (max-width: 390px) {
  .container-header__username {
    max-width: 60px;
  }

  .header {
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media only screen and (max-width: 380px) {
  .container-header__username {
    max-width: 57px;
  }

  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 370px) {
  .container-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
  }

  .container-header__username {
    max-width: 55px;
  }
}

@media only screen and (min-width: 551px) {
  .mobile-mode {
    display: none !important;
  }
}