@tailwind base;
@tailwind components;
@tailwind utilities;

$color: #aeb9e1;
$background: #37446b;
$background30: #37446b30;
$background-black: #080f25;
$background-blue: #101935;
$background-primary: #6c72ff;


body {
  background-color: $background-black;
  color: $color;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $background !important;
  border-radius: 15px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $background !important;
}

.black-label {
  color: #333;
}

.main {
  height: calc(100vh - 65px);
  overflow: auto;
}

main {
  padding: 24px;
}

.sidebar {
  border-right: .6px solid $background;
  background: #080f25;

  button {
    background-color: $background;
    color: white
  }

  ;

  .nav-item-hover {
    border-left: 2px solid transparent;
    position: relative;
  }

  .bg-nav-item-hover,
  .nav-item-hover:hover {
    border-left: 2px solid $background;
    color: white;
  }

  .scroll {
    overflow: auto;
    height: calc(100vh - 80px);
  }

  ;
}

.sidebar.w-20 {
  margin-right: 2px;

  .group-nav {
    border-bottom: 2px solid $background;

    a,
    span {
      display: none !important;
    }
  }

  .text-sidebar {
    display: none !important;

  }
}

.sidebar.w-96.w-20 {
  .group-nav {
    border-bottom: 2px solid transparent;

    a,
    span {
      display: inline !important;
    }
  }

  .text-sidebar {
    display: inline !important;

  }
}

.sidebar.w-0 {
  width: 0px !important;
}

.header {
  min-height: 60px;
  background: $background-black;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-shadow: 0 0 11px $background30;
  box-shadow: 1px 1px 1px $background30;
}

.container-header {
  display: flex;
  justify-content: space-between;

  &__image-content {
    height: 44px;
    width: 100%;
    display: none;
  }

  @media only screen and (max-width: 991.9px) {
    &__image-content {
      display: flex;
    }
  }

  &__img {
    height: 43px;
    cursor: pointer;
  }

  &__icon {
    height: 28px;
    border-radius: 25px;
    border: 1px solid $color;
  }

  &__menu-user {
    margin-left: 10px;
    cursor: pointer;
    position: relative;
  }

  &__username {
    display: inline-block;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 4px;
    font-size: 15px;
  }
}

.section-right {
  padding: 16px 0;
}

.section-left {
  padding: 8px 0;
}

.custom-popover {
  margin-top: 50px;
}

.footer {
  text-align: center;
  border-top: .6px solid $background;
  padding-top: 32px;
  padding-bottom: 32px;
}

.custom-background {
  //background-image: url('../src/assets/icons/background-login.jpg');
  //background-size: cover;
  //background-position: center;
  height: 100vh;
  background: white;
}

.scrollable-hidden {
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* IE 10+ */
  ​ &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.elements-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elements-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.elements-end-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.elements-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.elements-center-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.elements-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.elements-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.elements-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.storage-plan-header {
  background-color: $background-black;
  color: $color;
}

.wrapper {
  width: 100%;
  margin-top: 20px;
}

.confirmation_container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .confirmation_backdrop {
    position: absolute;
    background-color: #3333335d;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .confirmation_card {
    z-index: 1000;
    background: #fff;
    padding: 15px 20px;
    border-radius: 5px;

    .confirmation_card_header {
      font-size: 16px;
      padding-bottom: 5px;
    }

    .confirmation_card_body {
      font-size: 14px;
    }

    .confirmation_card_actions {
      margin-top: 20px;
      display: flex;
    }
  }
}

.general-gradient {
  background: linear-gradient(to right, #ff7811, #f3412f);
}

.card_section {
  margin-top: 16px;
  margin-bottom: 16px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-columns: 1fr;
  display: grid;
}

.dashboard_card {
  background-color: $background-blue;
  border: .6px solid #343b4f;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .06);
  z-index: 1;
  grid-row-gap: 16px;
  border-radius: 8px;
  flex-direction: column;
  padding: 10px 15px;
  display: flex;
  position: relative;
  grid-area: span 1 / span 1 / span 1 / span 1;

  .dashboard_card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
  }

  .dashboard_card_body {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.333em;
  }
}

@media only screen and (max-width: 650px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .desktop-mode {
    display: none !important;
  }

  .container-header__username {
    max-width: 100px;
  }

  #mui-component-select-language span {
    display: none !important;
  }
}

@media only screen and (max-width: 440px) {
  .container-header__username {
    max-width: 85px;
  }
}

@media only screen and (max-width: 420px) {
  .container-header__username {
    max-width: 75px;
  }
}

@media only screen and (max-width: 405px) {
  .container-header__username {
    max-width: 70px;
  }
}

@media only screen and (max-width: 400px) {
  .container-header__username {
    max-width: 63px;
  }
}

@media only screen and (max-width: 390px) {
  .container-header__username {
    max-width: 60px;
  }

  .header {
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media only screen and (max-width: 380px) {
  .container-header__username {
    max-width: 57px;
  }

  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 370px) {
  .container-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
  }

  .container-header__username {
    max-width: 55px;
  }
}

@media only screen and (min-width: 551px) {
  .mobile-mode {
    display: none !important;
  }
}

.user-Popover {
  .MuiPaper-root {
    background: $background-blue;
    color: $color;
    border-right: .6px solid $background;

    li {
      margin-top: 4px;
      margin-bottom: 4px;

    }
  }
}

form {
  margin-top: 16px;
  margin-bottom: 16px;
}

.bg-content1 {
  background-color: $background-blue !important;
}

.bg-default-100 {
  background-color: $background !important;
}

.text-foreground-500 {
  color: $color !important;
}

table {
  .text-foreground-500 {
    color: $color !important;
  }

  thead.top-0{
    top: -16px !important;
  }

  th:hover,
  th.data-\[hover\=true\]\:text-foreground-400[data-hover="true"] {
    color: white !important;
  }

  th:last-child {
    text-align: end !important;
  }

  tr:hover,
  tr.data-\[hover\=true\] {
    color: $background-black !important;
    background-color: $color;

    .text-default-300 {
      color: $background-black !important;
    }
  }

  tr .data-\[selected\=true\]\:text-default-foreground[data-selected="true"] {
    color: white !important;
  }

  .before\:bg-default\/40::before {
    background-color: $background !important;
  }

  .after\:bg-primary::after {
    background-color: $background-black !important;
  }

  .group[aria-selected="false"][data-hover="true"] .group-aria-\[selected\=false\]\:group-data-\[hover\=true\]\:before\:opacity-70::before {
    background-color: #37446b !important;
  }
}

button.bg-primary {
  background-color: $background-primary !important;
  border-radius: 4px !important;
  padding: 8px;
  transition: background-color .3s, color .3s;
}

button.bnt-select,
button.bg-secundary {
  color: #aeb9e1 !important;
  background-color: #212c4d !important;
  border: 1px solid #37446b !important;
  border-radius: 4px !important;
  padding: 8px;
  transition: color 0.3s, border-color 0.3s;
}

button:disabled{
  opacity: 0.3;
  cursor: not-allowed;
}